<!DOCTYPE html>
<html>
  <head>
    <title>All Post</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>All Posts</h1>
    <a href='/create-new-post'>Creat New Post</a>
    <% for (var i in posts) {%>
    	<ul>
    		<li><a href='/post/<%=posts[i]._id%>'><%= posts[i].title %></a></li>
    		<li><%= posts[i].body %></li>
    		<li>Delete</li>
    	</ul>
    <%}%>
  </body>
</html>