<% include layouts/header.ejs %>

  <div class='container'>
    <h1>All Posts</h1>
    <% for (var i in posts) {%>
    	<ul>
    		<li><a href='/post/<%=posts[i]._id%>'><%= posts[i].title %></a></li>
    		<li><%= posts[i].body %></li>
    		<li>Delete</li>
    	</ul>
    <%}%>
  </div>
  
<% include layouts/footer.ejs %>
  