<!DOCTYPE html>
<html>
<head>
	<title>Create New Post</title>
</head>
<body>
	<form method='post' actioln='/create-new-post'>
		<p>Title: <input type='text' name='title'/>
		<p>Body: <input type='text' name='body'/>
		<p><input type='submit'/>
	</form>
</body>
</html>